body {
    text-align: center;
}

div#container {
    margin-top: 50px;
    display: inline-block;
    text-align: left;
}

div#battlegrid {
    display: inline-block;
    border: 1px solid black;
}

div#controls {
    border: 1px solid black;
    float: right;
    display: inline-block;
    width: 150px;
    height: 200px;
    margin-left: 30px;
    padding: 10px;
}

span.cell {
    border: 1px solid black;
    display: inline-block;
    width: 50px;
    height: 50px;
}

span.miss {
    background-color: blue;
}

span.hit {
    background-color: red;
}

span.valid {
    background-color: green;
}

.highlight {
    color: #FCAE4F;
}

.strikeout {
    color: green;
    text-decoration: line-through;
}

button {
    width: 100%;
}

ul {
    padding-left: 20px;
}